
.formSignUp{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(149, 75, 101);
    text-align: center; }
.input{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
.inputName,
.inputPassword{
    margin: 5px;
    height: 30px;
    border: none;
    outline: none;
    
}
.inputName:hover {
    border-radius: 10px;
    border: 1px solid darkgray;

}
.inputPassword:hover{
    border-radius: 10px;
   border: 1px solid darkgray;
}
.buttonForm{
    display: flex;
    justify-content: center;
}
.buttonSignUP{
    width: 300px;  
}

