.containerVideo{
    width: 768px;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 100px;
    overflow-y: auto;
    height: 581px;
    scroll-snap-type: y mandatory;
    margin-top: 20px;
    
}
.video{
    filter: brightness(0.5);
    width: 300px;
    min-height:560px;
    border:1px solid rgb(132, 70, 70);
    border-radius: 20px;
    box-sizing: border-box;
    scroll-snap-align: start;
     margin-bottom: 50px;    
}
.containerVideo::-webkit-scrollbar{
    height: 0;
}
.containerVideoIcon{
    display: flex;

}
.icon{
    margin-top: 100px;
    margin-left: 10px;
}
