.contentLogIn {
    text-align: center;
}

.selects {
    height: 400px;
    overflow-y: auto;
}

.ContainerLogin {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(149, 75, 101);
    text-align: center;
    
}

.logIn {
    background-color: rgb(254, 44, 85);
    color: white;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
